#labeeel{
    margin-left: 40%;
}

form{
    display: block;
    width: 350px;
    margin: 15px auto 0;
}

p{
    margin-bottom: 8px;
}


.radio-variant{
    display: inline-block;
    width: 47%;
}

.row{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

input[type=submit]{
    padding: 4px 15px 6px;
    margin-left: 45%;
}

#message{
    height:28px
}

label{
    cursor:pointer;
}
