td{

    border : black 1px solid;
    margin: 10px;
    padding: 10px;
}
table {
    border-collapse: collapse;
    text-align: center;
}

#captcha{
    width: 150px;
    height: 50px;
padding-left: 35%;
}
span{
    font-family: "Showcard Gothic", cursive;
    font-size: 45px;
    color: red;
position: relative;
    margin-left: -5px;
    -webkit-text-stroke: 1px black;
}